@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

.App {
  text-align: center;
  align-items: center;
  width: 100%;
  background-color:#FB6467FF ;
}

.App-items{
  max-width: 900px;
  margin: auto;
}

.item-container{
  display: inline-block;
  padding: 10px;
  margin: 10px;
  width: 250px;
  background-color: #FAE48BFF;
  border-radius: 15px;
  transition: 0.5s;
}

.item-container:hover {
  background-color: #A6EEE6FF;
}

.item-name{
  font-family: 'Creepster', cursive;
  color: #526E2DFF;
}

.item-desc{
  display: block;
  font-family: 'Dongle', sans-serif;
  font-size: 16pt;
  color: #82491EFF
}

.item-img{
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.btn-seeMore{
  font-family: 'Creepster', cursive;
  background-color: #526E2DFF;
  color:white;
  font-size: 25pt;
  border:none;
  border-radius: 20px;
  width: 250px;
  height: 75px;
  margin: 20px;
  transition: 0.9s;
  cursor: pointer;

}

.btn-seeMore:hover{
background-color:#82491EFF ;
}
